* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--creamwhite);
    color: var(--darkblue);
    font-family: var(--font_text);
}
main {
    flex: 1;
    background-color: var(--creamwhite);
}

.container_limit {
    max-width: 1920px; 
    margin: 0 auto;
    padding: 0 50px;
}
/* .headline_book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
} */
/* #gallery_book {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
} */
/* #gallery_books img {
    width: 180px;
    height: 180px;
    padding: 15px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out;
} */
